<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

  <title>Atieno</title>
</head>

<body>
   <!-- Home page -->
  <section id="home">
  <div class="main">
    <header>
      <h3>A</h3>
      <div class="nav">
        <ul style="color: #fff;">
          <li><i class="fa fa-home fa-lg"></i></li>
          <li><i class="fa fa-user fa-lg"></i></li>
          <li><i class="fa fa-envelope fa-lg"></i></li>
        </ul>
      </div>
      <div class="media">
        <!-- <a href="#"><i class="fa fa-codepen"></i></a> -->
        <a href="#" style="text-decoration: none;"><i class="fa fa-github"></i></a>
        <i class="fa fa-facebook-square" style="text-decoration: none;"></i>
        <a href="#" style="color: #fff; text-decoration: none;"><i class="fa fa-twitter"></i></a>

      </div>
    </header>
    <div class="home">
        
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class='text'>
                        <h1>Hi, <br> I'm <span>Atieno</span>,<br>software developer </h1>
                        <h5>Front End Developer | Backend Developer </h5>
                
                        <button> CONTACT ME </button>
                      </div>
                </div>
                <div class="col-4 mainImg">
                    <!-- <img class="circle object-cover object-center rounded w-4/6 m-auto" alt="" src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658013928/personal/m_gs1qo0.jpg"> -->
                    <img class="circle" src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658013928/personal/m_gs1qo0.jpg">
                </div>
              </div>
          </div>
      </div>
  </div>

  </section>
    <!-- language logos -->
    <div class="corps">
        <div class="container gauche">
            <h3>Spécializing in:</h3>
            <hr/>
            <div id="competences-container">
                <div id="carousel-comp">
                    <div id="slider-comp">
                        <div class="comp" onclick="prec()">
                            <!-- <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658031043/personal/svg/django_itivqd.jpg" alt=""> -->
                        <span class="desc-comp">Django</span>
                        </div>
                        <div class="comp" onclick="prec()">
                            <!-- <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658030772/personal/svg/drf_k8yvch.png" alt=""> -->
                         <span class="desc-comp">DRF</span>
                         </div>

                        <div class="comp">
                             <!-- <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658030772/personal/svg/flask_jstd6v.jpg" alt=""> -->
                        <span class="desc-comp">Flask</span>
                        </div>

                        <div class="comp" onclick="suiv()">
                            <!-- <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658030772/personal/svg/angula_gorsux.jpg" alt=""> -->
                        <span class="desc-comp">Angular</span>
                        </div>    
                        
                        <div class="comp" onclick="suiv()">
                            <!-- <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658030772/personal/svg/react_z6bd80.jpg" alt="">                -->
                            <span class="desc-comp">React</span>
                        </div>  
                    </div>    
                </div>
            </div>
        </div>
    </div>

  <!-- about me -->
<div class="container">
    <div class="blog-card alt">
        <div class="row">
            <div class="col-6">
                <div class="meta">
                    <div class="photo" style="background-image: url(https://res.cloudinary.com/dyiuol5sx/image/upload/v1658013940/personal/me_kxxno9.jpg)"></div>
                  </div>
            </div>
            <div class="col-6">
                <div class="description">
                    <h2 style="color: white;">Why Me?</h2>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>

                  </div>
            </div>
        </div>
        
      </div>
</div>
  <!-- experience -->
  <!-- <div class="container">
    <h1 class="text-center" style="color: white;">Professional Experience</h1>
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="bitem swiper-slide">
            <div class="content">
              <span class="code">26 December 2019</span>
              <div class="title">Lorem Ipsum Dolor2</div>
              <div class="Btext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            </div>
          </div>
        </div>
        </div>

    
  </div> -->

  <!-- Testimonials -->
  <!-- <div class="container">
    <h1 class="text-center">Testimonials</h1>
  </div> -->

<!-- Case study -->
<!-- <div class="container"> -->
    <div class="case-study-gallery">
        <h1 class="text-center" style="color: white;">Case Studies</h1>
        <p>Here's a deep dive into some of the top projects I worked on.</p>
      <div class="case-study study1">
          <figure>
              <img class="caseImg" src="http://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
          </figure>
        <div class="case-study__overlay">
            <h2 class="case-study__title">Mich.</h2>
          <a class="case-study__link" href="#">View Case Study</a>
        </div>
      </div>
        
      <div class="case-study study2">
          <figure>
              <img class="caseImg" src="http://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
          </figure>
        <div class="case-study__overlay">
            <h2 class="case-study__title">WeConnect</h2>
          <a class="case-study__link" href="#">View Case Study</a>
        </div>
      </div>
        
      <div class="case-study study3">
          <figure>
              <img class="caseImg" src="http://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
          </figure>
        <div class="case-study__overlay">
            <h2 class="case-study__title">Django Gallery</h2>
          <a class="case-study__link" href="#">View Case Study</a>
        </div>
      </div>
        
    </div>
<!-- </div> -->

<!-- contact me -->
<div class="container">
    <h1 class="text-center" style="color: white;">Get In Touch</h1>
    <p>Let's talk about your next project</p>
</div>


  <!-- Footer -->
  <footer class="text-gray-700 body-font">
    <div class="bg-gray-700">
        <div class="container mx-auto py-4 px-5">
            <p class="text-white text-sm text-center sm:text-center">© 2022 | Atieno Obwanda
            </p>
        </div>
    </div>
</footer>
  </body>
  
</html>