<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:800"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />

    <title>AtienoObwanda | Portfolio</title>
  </head>
  <body>
    <section id="home">
      <div class="main">
        <header style="background-color: transparent;">
          <h3>A</h3>
          <div class="nav" style="background-color: transparent;">
            <ul style="color: #fff">
              <li>
                <a  href="#home" style="text-decoration: none;">
                  <i class="fa fa-home fa-sm" style="text-decoration: none; background-color: transparent;">
                  </i>
                 </a>
              </li>

              <li>
                <a  href="#about" style="text-decoration: none;">
                  <i class="fa fa-user fa-sm"></i>
                </a>
              </li>

              <li>
                <a  href="mailto:atienoobwanda@gmail.com" style="text-decoration: none;">
                  <i class="fa fa-envelope fa-sm"></i>
                </a>
              </li>

              <li>
                <a  href="tel:+254743068355" style="text-decoration: none;">
                  <i class="fa fa-phone fa-sm"></i>
                </a>
              </li>
              <li>
                <a  href="https://wa.me/+254743068355/?text=Hi Atieno" style="text-decoration: none;">
                  <i class="fa fa-whatsapp fa-sm"></i>
                </a>
              </li>


            </ul>
          </div>
          <div class="media">
            <a href="https://github.com/AtienoObwanda" style="text-decoration: none;">
              <i class="fa fa-github" style="text-decoration: none; background-color: transparent;"></i>
            </a>
            <a href="#" style="text-decoration: none;">
              <i class="fa fa-facebook-square" style="text-decoration: none; background-color: transparent; "></i>
            </a>
            <a href="https://twitter.com/atien_o" style="color: #fff; text-decoration: none">
              <i class="fa fa-twitter" style="text-decoration: none; background-color: transparent;"></i>
            </a>
            <a href="https://www.instagram.com/atien.o/" style="text-decoration: none;">
              <i class="fa fa-instagram" style="text-decoration: none; background-color: transparent; "></i>
            </a>
          </div>
        </header>
        <div class="portfolio">
        <div class="home">
          <div class="container">
            <div class="row d-flex flex-row">
              <div class="col-md-8 align-self-center">
                <div class="text">
                  <h1>
                    Hi, <br />
                    I'm <span>Atieno Obwanda</span>,<br />software developer
                  </h1>
                  <h5>Front End Developer | Backend Developer</h5>

                  <a href="https://calendly.com/atienoobwanda/30min">
                    <button>Quick Meeting?</button></a
                  >
                </div>
              </div>

              <div class="col-md-4 align-self-center mt-4 mainImg">
                <img
                  class="circle img-fluid bgm trf"
                  src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658013928/personal/m_gs1qo0.jpg"
                />
              </div>
            </div>
          </div>
        </div>
<!--Stacks-->




<div class="content d-flex align-items-center justify-content-center mt-5">
  <div class="stack-container rounded">
    <h3 class="fw-bold">Spécializing in:</h3>
    <!-- <hr> -->
      <div class="rollers position-relative overflow-hidden mt-4">
          <div class="start-roller"></div>
          <div class="wrapper">
              <div class="items-container roll-LL">
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895711/TechStacks/djrf_d2uezf.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895807/TechStacks/react_sk7w0o.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895802/TechStacks/postgresql_golbq8.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895755/TechStacks/angular_ist2oi.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895764/TechStacks/django_tqjf3x.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895771/TechStacks/flask_egljkw.png" alt="" class="company">
                  </div>
              </div>
              <div class="items-container roll-RL">
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895711/TechStacks/djrf_d2uezf.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895807/TechStacks/react_sk7w0o.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895802/TechStacks/postgresql_golbq8.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895755/TechStacks/angular_ist2oi.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895764/TechStacks/django_tqjf3x.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895771/TechStacks/flask_egljkw.png" alt="" class="company">
                  </div>
              </div>
          </div>
          <div class="wrapper">
              <div class="items-container reverse-roll-LL">
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895751/TechStacks/amazon-aws_yfbjiz.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895797/TechStacks/nodejs_wvgwlf.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895788/TechStacks/mysql_evdivb.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895784/TechStacks/mongodb_mgmx9m.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895779/TechStacks/git_mzzzcq.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895760/TechStacks/api-programming_ndiqex.png" alt="" class="company">
                  </div>
              </div>
              <div class="items-container reverse-roll-RL">
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895751/TechStacks/amazon-aws_yfbjiz.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895797/TechStacks/nodejs_wvgwlf.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895788/TechStacks/mysql_evdivb.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895784/TechStacks/mongodb_mgmx9m.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895779/TechStacks/git_mzzzcq.png" alt="" class="company">
                  </div>
                  <div class="item">
                      <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1658895760/TechStacks/api-programming_ndiqex.png" alt="" class="company">
                  </div>
              </div>
          </div>
          <div class="end-roller"></div>
      </div>
  </div>
</div>

        <!-- about me -->
        <div class="container" id="about">
          <div class="blog-card alt">
            <div class="row d-flex justify-content-between flex-row">
              <div class="col-md-6 align-self-center">
                <div class="meta">
                  <div
                    class="photo img-fluid"
                    style="
                      background-image: url(https://res.cloudinary.com/dyiuol5sx/image/upload/v1658013940/personal/me_kxxno9.jpg);
                    "
                  ></div>
                </div>
              </div>
              <div class="col-md-6 sm-3">
                <div class="description">
                  <h2 class="mt-1" style="color: #fe8d01">Why Hire Me?</h2>

                  <p style="color: white; font-size: 17px">
                    Hello, my name is <strong>Atieno Obwanda</strong>, I'm a
                    fullstack developer who is passionate about solving
                    day-to-day challenges, through technology at the same time
                    elevating people, and building community.
                  </p>

                  <p style="color: white; font-size: 17px">
                    Coding for me is more than just a career, it is my passion,
                    wake me up anytime and give me a computer, I'll always be
                    glad to write a few lines of codes.
                  </p>
                  <p style="color: white; font-size: 17px">
                    When did this start? was I always like this? Looking back,
                    I've always had a curious mind, I've always wanted to know
                    how things work, and what's the logic behind them.
                  </p>
                  <p style="color: white; font-size: 17px">
                    When you think of coding as a series of nested processes,
                    from ideation, to design, to actual coding, deployment and a
                    final end product, my love for the logic behind how things
                    come into being will make sense.
                  </p>
                  <p style="color: white; font-size: 17px">
                    Having me working on your project is not just another
                    'developer' phase. It is a smooth client-developer
                    experience. For me what matters the most, is being able to
                    give life to your idea, and live to see it positively
                    impacting people's lives... It's more than just writing
                    lines of codes.
                  </p>
                  <p style="color: white; font-size: 17px">
                    Talk to me today about your next big project!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--My services-->
        <div class="container mb-5 mt-5">
          <h3 class="fw-bold">My Sérvices</h3>
          <!-- <hr> -->
          <div class="row mt-5">
            <div class="col-6">
              <div
                class="card p-3"
                style="
                  background-color: #1f1d2b;
                  box-shadow: 0px 0px 24px #5c5696;
                  height: 25rem;
                  overflow-y: hidden;
                "
              >
                <h6 class="mb-3" style="text-align: center; color: #fff">
                  Web Development
                </h6>

                <br />
                <small style="color: white"
                  ><span class="ratings mt-3"><i class="fa fa-star"></i></span>
                  Responsive,fast & secure apps</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Corporate & Personal Websites</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span> Web
                  applications</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span> Web
                  architecture & design</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Hosting & Deployments</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Improved Seo & analytics</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Business Admin Panels</small
                >
              </div>
            </div>
            <div class="col-6">
              <div
                class="card p-3"
                style="
                  background-color: #1f1d2b;
                  box-shadow: 0px 0px 24px #5c5696;
                  height: 25rem;
                  overflow-y: hidden;
                "
              >
                <h6 style="text-align: center; color: #fff">APIs & Backend</h6>

                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Databases and Frameworks</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Hosting & Deployment</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Project management</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Project maintainance</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span> Rest
                  & Graphql APIs</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span>
                  Connections to APIs</small
                >
                <br />
                <small style="color: white"
                  ><span class="ratings"><i class="fa fa-star"></i></span> Cron
                  jobs</small
                >
              </div>
            </div>
          </div>
        </div>
        <!--Experience -->

        <!-- Testimonials -->
        <!-- Case study -->

        <div class="container mt-5 mb-5">
          <h1 class="text-center" style="color: #fe8d01">Top Projects</h1>
          <p style="color: white">
            Here's a deep dive into some of the projects I've worked on.
          </p>
          <div class="row g-2">

            <div class="col-md-4 d-flex justify-content-center" *ngFor="let project of projects">
              <div class="procard p-2">
                <div class="text-center">
                  <img
                  [src]="project.main_image"
                    class="img-fluid"
                    style="height: 300px"
                  />
                </div>
                <div class="content">
                  <div
                    class="d-flex justify-content-between align-items-center" style=" background-color: #fff;">
                    <span class="category">{{project.title}}</span>
                      <span class="stack">{{project.name}}</span>
                  </div>
                  <p style="background-color: #fff;">{{project.overview}}</p>
                  <div class="buttons d-flex justify-content-center" style="background-color: #fff;">
                    <a href="{{project.url}}" class="btn btn-outline-primary mr-1 proBtn" style="text-decoration: none;">
                        View Project
                    </a>
                    <!-- <button class="btn btn-primary">Case Study</button> -->
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <!-- contact me -->
        <h1 class="text-center mt-5" style="color: #fe8d01">
          Thank you for your time!
        </h1>

        <div class="contactainer mt-4 pt-3">
          <div class="screen">
            <div class="screen__content">
              <form
                [formGroup]="FormData"
                (ngSubmit)="onSubmit(FormData.value)"
                class="login"
              >
                <div class="login__field">
                  <input
                    type="email"
                    class="form-control login__input"
                    name="Email"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    formControlName="Email"
                  />
                  <small id="emailHelp" class="form-text text-muted"
                    >Your email will never be shared with anyone else.</small
                  >
                </div>
                <div class="login__field">
                  <input
                    type="text"
                    class="form-control login__input"
                    name="Fullname"
                    placeholder="Full Name"
                    formControlName="Fullname"
                  />
                </div>
                <div class="login__field">
                  <textarea
                    class="form-control login__input"
                    formControlName="Comment"
                    name="Comment"
                    placeholder="Message"
                  >
                  </textarea>
                </div>
                <button
                  type="submit"
                  class="mt-3 btn btn-primary"
                  [disabled]="!FormData.valid"
                  class="button login__submit"
                >
                  Send
                </button>
              </form>
              <p class="text-center pt-5" style="color: white">
                <small style="color: white; text-align: center"
                  >Let's talk about your next project
                </small>
              </p>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="container pt-5">
          <p class="text-sm text-center sm:text-center" style="color: white">
            © 2022 | Atieno Obwanda
          </p>
        </div>
      </div>
    </div>
    </section>
  </body>
</html>
