* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #1f1d2b;
  
  }
  body {
      margin: 0;
      padding: 0;

    }
    
   /* .portfolio{
    margin-left: auto;
   } */
  
    .main {
      display: block;
      width: 100%;
      min-height: 75vh;
      float: right;
      overflow: hidden;
    }
    
    header {
      position: fixed;
      margin: 0 auto;
      padding: 0;
      width: 50px;
      height: 100vh;
      background-color: transparent;
      
    }
    
    h3 {
      padding-top: 15px;
      text-align: center;
      font-weight: bold;
      color: white;
    }
    
    .nav {
      margin: 60px auto;
      width: 50px;
      height: 50vh;
      line-height: 50px;
      background: transparent !important;

    }
    
    ul {
      list-style-type: none;
      width: 55px;
      margin: 0;
      padding: 0;
    }
    
    .nav li  {
      text-decoration: none;
      text-align: center;
    }
    
    .nav li i {
      display: block;
      padding: 15px 20px;
      
    }
    
    .nav li i:hover {
     background-color: #FE8D01;
      color: white;
      width: 60px;
      cursor: pointer;
      
    }
    
    .nav li i:active {
     background-color: transparent;
      color: white;
    }
    
    .media {
      width: 50px;
      height: 120px;
      margin-top: -25px;
      position: relative;
      display: block;
      overflow: hidden;
      background-color: transparent;

  
    }
    
    .media i {
      display: block;
      text-align: center;
      color: grey;
      margin-top: 12px; 
      cursor: pointer;
  
    }
    
    .media i:hover {
      color: #FE8D01;
    }
    
    .home {
      background-position: center center;
      display: block;
      /* width: 100%; */
      /* height: 100vh; */
    }
    
    .text {
      padding-left: 110px;
      padding-top: 130px;
      color: white;
      font-family: Gotham Pro;
  
    }
    
    .home h1 {
      font-size: 60px;
      letter-spacing: 0.1em;
      font-family: Newyork;
    }
    
    .home h5 {
      color: lightgrey;
      font-size: 15px;
    }
    
    span {
      color: #FE8D01;
      /* -webkit-text-stroke: 4px #FFF;
      -webkit-text-fill-color: #FE8D01; */
      font-family: Newyork;
      font-weight: bold;
    
  
    }
  
    
    .text button {
      margin-top: 60px;
      font-size: 12px;
      font-family: Gotham Pro;
      width: 150px;
      height: 30px;
      background-color: transparent;
      color: #FE8D01;
      border: 1px solid #FE8D01;
      cursor: pointer;
    }
    
    .text button:hover {
      /* background-color: #FE8D01; */
      color: white;
      border: 1px solid white;
    }
  
    .circle {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      height: 100%;
      width: 100%;
  }  
  
     

.abtcontainer{
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0 20px;
}

hr{
  margin-top: 10px;
  margin-bottom: 40px;
  background: #FE8D01;
  width: 90px;
  height: 6px;
  border: none;
  /* text-align: center; */
}



p{
  margin:0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color:#444;
  font-weight: 100;
  width: 90%;
  @media screen and (min-width:37.5em){
    height: 70%;
  }
  
}

.photo {
  /* position: absolute; */
  height: 100%;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;}
a:hover {
    color: prime;
  }

  .photo:hover{
    transform: scale(1) rotate(1deg);
  }

.meta {
  position: relative;
  z-index: 0;
  height: 650px;
}


.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0px 0px 24px #5C5696;
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  font-family: Gotham Pro;
}


.contactainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 700px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}




.login {
	/* width: 320px; */
	padding: 30px;
	padding-top: 50px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}


.procontainer{
  transform-style: preserve-3d;
}

.procontainer .box{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.procontainer .box .body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}



.procontainer .box .body .imgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.procontainer .box .body .imgContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.procontainer .box .body .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#1f1d2b;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.procontainer .box:hover .body{
  transform: rotateY(180deg);
  box-shadow: 0px 2px 2px #5C5696;
  background: linear-gradient(45deg, #FE0061,#FFEB3B);


}

.procontainer .box .body .content div{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #FE0061,#FFEB3B);
  transform: translateZ(100px);
}

.procontainer .box .body .content div h3{
  letter-spacing: 1px;
}

.probody{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.height-100 {
  height: 100vh
}

.procard {
  width: 100%;
  border: none;
  height: 250px;
  max-width: 380px;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor:pointer;
  justify-content: center;
  transition: all ease 0.4s
}

.procard img {
  transition: all ease 0.4s
}

.procard:hover img {
  margin-top: -80px
}

.procard .content {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: -60%;
  margin-left: -8px;
  transition: all ease 0.5s;
  border-radius: 4px;
  box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09)
}

.procard .content .category {
  font-size: 17px;
  font-weight: 600;
  background-color: #fff;
}

.procard .content .stack {
  font-size: 17px;
  font-weight: 500;
  color: #0d6efd;
  background-color: #fff;

}

.procard .content p {
  font-weight: 500;
  font-size: 12px
}

.procard:hover .content {
  bottom: 0%
}

.buttons button {
  border-radius: 1px;
  margin-bottom: 10px;
  transition: all ease 0.3s;

}

.content {
  padding: 10px
}
 .proBtn{
  color: #FE8D01;
  /* border: #FE8D01; */
  border: solid  #FE8D01 ;
 }

 .proBtn:hover{
  color: #fff;
  background-color: #FE8D01;
  border: solid  #FE8D01 ;
 }


/* Reseting */
.stack-content{
    width: 100vw;
    min-height: 100vh;
}

.stack-content .stack-container{
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 2px 15px 20px #1f1f1f10,-2px -8px 20px #1f1f1f1a;
}


.stack-container .rollers{
    flex: 0 0 230px;
}

.stack-container .start-roller{
    left: 0;
    top: 0;
    /* background-image: linear-gradient(to right, white 30%, #ffffff00); */
}

.stack-container .start-roller,
.stack-container .end-roller{
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 1;
}

.stack-container .end-roller{
    right: 0;
    top: 0;
    /* background-image: linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)); */
}

.stack-container .rollers .wrapper{
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}

.stack-container .rollers .wrapper .items-container{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.stack-container .rollers .wrapper .items-container.roll-LL{
    animation-name: roll;
}
.stack-container .rollers .wrapper .items-container.roll-RL{
    animation-name: roll-reverse;
    left: 100%;
}
.stack-container .rollers .wrapper .items-container.reverse-roll-LL{
    animation-name: roll-clockwise;
    left: -100%;
}
.stack-container .rollers .wrapper .items-container.reverse-roll-RL{
    animation-name: roll-reverse-clockwise;
    left: 100%;
}

@keyframes roll {
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}
@keyframes roll-reverse {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
@keyframes roll-clockwise {
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}
@keyframes roll-reverse-clockwise {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}


.stack-container .rollers .wrapper .items-container .item{
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px;
}

.stack-container .rollers .wrapper .items-container .item .company{
    filter: grayscale(50%);
    opacity: 0.2;
    width: 100%;
    object-fit: contain;
    height: 80px;
}

.stack-container .rollers .wrapper .items-container .item .company:hover{
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
}

.stack-container img{
    vertical-align: middle;
}

@media (max-width: 575.5px) {
    .stack-content{
        padding: 20px;
    }
    .stack-content .stack-container{
        padding: 20px;
    }
    .h3{
        font-size: calc(1.1rem + .6vw);
    }
    .fs-5 {
        font-size: 0.9rem!important;
    }
    .stack-container .rollers .wrapper .items-container .item .company{
        opacity: 0.4;
    }
}