<!--My Stacks-->
<div class="corps">
    <div class="container gauche">
        <h3>Spécializing in:</h3>
        <hr/>
        <div id="competences-container">
            <div id="carousel-comp">
                <div id="slider-comp">
                    <div class="comp">
                    <span class="desc-comp">Django</span>
                    </div>
                    <div class="comp">
                     <span class="desc-comp">DRF</span>
                     </div>

                    <div class="comp">
                    <span class="desc-comp">Flask</span>
                    </div>

                    <div class="comp">
                    <span class="desc-comp">Angular</span>
                    </div>    
                    
                    <div class="comp">
                        <span class="desc-comp">React</span>
                    </div>  
                    <div class="comp">
                      <span class="desc-comp">PostgreSQL</span>
                  </div> 
                  <div class="comp">
                    <span class="desc-comp">MySQL</span>
                </div> 
                <div class="comp">
                  <span class="desc-comp">Mongo</span>
              </div> 
                </div>    
            </div>
        </div>
    </div>
</div>