* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #1f1d2b;
  
  }
  body {
      margin: 0;
      padding: 0;
    }
    

.corps{
    padding: 80px 0 80px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #333;
}
.abtcontainer{
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0 20px;
}

.gauche{
    justify-content: flex-start;
    align-items: flex-start;
}

#competences-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carousel-comp{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

#slider-comp{
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.5s ease;
}

.desc-comp{
    color: #fff;
    font-weight: 700;
    /* margin: 10px 0 5px 0; */
    text-transform: uppercase;
    font-size: 20px;
}

.comp svg, .comp img{
    transition: all 500ms ease;
}

.comp{
    flex-basis: 2.5%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fleches{
    transition: opacity 250ms ease;
    cursor: pointer;
    opacity: 0.4;
}

.fleches:hover{
    opacity: 1;
}