<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:800"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>Case Study</title>
  </head>

  <body>
    <div id="parallax-world-of-ugg">
      <section>
        <div class="title">
          <h3>Case Study</h3>
          <!-- <h1>Art Space</h1> -->
        </div>
      </section>

      <section>
        <div class="parallax-one">
          <h2>ART SPACE</h2>
        </div>
      </section>
     
      <main>
        <div class="about">
          <div class="title"><h1>App Overview</h1></div>
          <div class="desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card_img">
                  <i class="fas fa-rocket"></i>
                  </div>
                <div class="card_title">Problem Statement</div>
                <div class="card_body"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card_img">
                  <i class="fab fa-cloudversify"></i>
                </div>
                <div class="card_title">Challenges</div>
                <div class="card_body"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
              </div>
            </div>
            
            
          </div>
          <div class="card">
            <div class="card_img">
              <i class="fas fa-user-astronaut"></i>
            </div>
            <div class="card_title">Solution</div>
            <div class="card_body"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></div>
          </div>
        </div>
      </main>
      
     
      <div class="corps">
        <div class="container gauche">
          <h3>Technologies and tools:</h3>
          <hr />
          <div id="competences-container">
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Angular</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Angular</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Angular</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Angular</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Angular</span>
            </div>
          </div>
        </div>
      </div>
      <!--Development Process-->
      <div class="contaner">
        <h1 class="text-center">Development Process</h1>
        <!--Use Images-->
        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      </div>

      <div class="corps">
        <div class="container gauche">
          <h3>Typography:</h3>
          <hr />
          <div id="competences-container">
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Font</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">color</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">font</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">Color</span>
            </div>
            <div class="comp" onclick="suiv()">
              <span class="desc-comp">color</span>
            </div>
          </div>
        </div>
      </div>
<!--Project Visuals-->
      
      <section class="gallery">
        <h1 class="text-center">
          Project Visuals
        </h1>
        <div class="container">
        
        </div>
      </section>



      <div class="container pt-4">
   
          <h1 class="text-center mt-3" style="color: black;">Thank you for your time!</h1>
          <p class="text-center" style="color: black;">Feel free to leave a comment... would love to hear your feedback!</p>
                     
            <div class="row">
              <div class="col-2">
              </div>
            <div class="col-8">
            <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-group mt-2">
            <label for="Email" style="color: black;">Email</label>
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
            <small id="emailHelp" class="form-text text-muted">Your email will never be shared with anyone else.</small>
            </div>
            <div class="form-group mt-2">
            <label for="fullname" style="color: black;">Full Name</label>
            <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
            </div>
            <div class="form-group mt-2">
            <label for="comment" style="color: black;">Feedback</label>
            <textarea class="form-control" formControlName="Comment" name="Comment">
            </textarea>
            </div>
            <button type="submit" class="mt-3 btn btn-primary" [disabled]="!FormData.valid">Send</button>
            </form>
          </div>
          <div class="col-2">
          </div>
            </div>
            
      </div>

    </div>
     <!-- Footer -->
  <footer class="text-gray-700 body-font">
    <div class="bg-gray-700">
        <div class="container mx-auto py-4 px-5">
            <p class="text-sm text-center sm:text-center" style="color: black;">© 2022 | Atieno Obwanda
            </p>
        </div>
    </div>
    </footer>
  </body>
</html>
