@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #1f1d2b;
  padding-bottom: 0;
  margin-bottom: 0;

}


/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}

.content-asset p {
  margin: 0 auto;
}

.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h2 {
  font-family: Newyork;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}



#parallax-world-of-ugg h3 {
  font-family: Newyork;
  font-size: 35px;
  line-height: 0;
  font-weight: 900;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #FFF;
}





/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 85vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}



/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}


/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }

  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }

  #parallax-world-of-ugg .block {
    padding: 30px;
  }

  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}

#competences-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc-comp {
  color: #fff;
  font-weight: 700;
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  font-size: 15px;
  background: #FE8D01;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 40px;

}

.comp {
  flex-basis: 4%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.corps {
  padding: 80px 0 80px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333;
}

.gauche {
  justify-content: flex-start;
  align-items: flex-start;
}

hr {
  margin-top: 10px;
  margin-bottom: 40px;
  background: #FE8D01;
  width: 100px;
  height: 6px;
  border: none;
}

h2 {
  font-weight: lighter;
}

header {
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.about {
  text-align: center;
  color: gray;
  padding: 40px;
}

.title {
  font-size: 22px;
  color: #fff;
  font-family: New York;
}

.desc {
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.45em;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 630px) {
  .title {
    font-size: 18px;
  }
}

.row {
  width: 95%;
  display: flex;
  padding: 10px;
  justify-content: center;
}

@media (max-width: 494px) {
  .row {
    flex-direction: column;
  }
}

.card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: none;
	box-shadow: 0px 0px 24px #5C5696;
}



.fas,
.fab {
  display: inline-block;
  position: absolute;
  color: #63b563;
  transform: translate(-52%, 75%);
  font-size: 40px;
}

.card_title {
  font-size: 20px;
  margin: 12px;
  font-weight: bold;
  color: #000000a8;
  transition: color .2s;
}

.card:hover .card_title {
  color: #4bd482;
}

.card:hover .card_img {
  transform: translate(0px, -10px);
}

.card_body {
  color: #8c9490;
  font-size: 16px;
  padding: 0 5px;
  line-height: 1.5;
  word-spacing: 4px;
}

.date {
  font-size: 11px
}

.divider {
  height: 0px !important;
  background-color: blue
}

.track-line {
  height: 2px !important;
  background-color: green
}

.dot {
  height: 30px;
  width: 30px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  background-color: green;
  border-radius: 50%;
  display: inline-block
}

.big-dot {
  height: 35px;
  width: 35px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: green;
  border-radius: 50%;
  display: inline-block
}

.big-dot i {
  font-size: 12px
}

.gallery {
  padding: 0 0 4rem 0;
}

.img-container {
  width: 100%;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
}

img {
	width: 100%;
  height: 500px;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

img:hover{
  transform: scale(1.05);
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.category {
  font-size: 1rem;
  color: gray;
}

.img-content {
  display: none;
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}


.contactainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 700px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.login {
	/* width: 320px; */
	padding: 30px;
	padding-top: 50px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

